name: Docs

on:
  push:
    branches:
      - master
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 1

    - name: Get the release version from the tag
      shell: bash
      if: env.RG_VERSION == ''
      run: |
        # Apparently, this is the right way to get a tag name. Really?
        #
        # See: https://github.community/t5/GitHub-Actions/How-to-get-just-the-tag-name/m-p/32167/highlight/true#M1027
        echo "RG_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
        echo "version is: ${{ env.RG_VERSION }}"

    - name: Install Nix
      uses: cachix/install-nix-action@v18

    - name: Restore cached Nix store
      id: nix-cache-restore
      uses: john-shaffer/cache/restore@main
      with:
        key: nix-${{ runner.os }}-${{ hashFiles('**.nix', '**/flake.lock') }}
        restore-keys: |
          nix-${{ runner.os }}-
        path: |
          /nix/store
          /nix/var/nix/db/db.sqlite

    - name: Build Nix derivations
      if: steps.nix-cache-restore.outputs.cache-hit != 'true'
      run: |
        nix flake check
        nix develop -c echo OK
        nix build

    - name: Save cached Nix store
      if: steps.nix-cache-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@v3
      with:
        key: nix-${{ runner.os }}-${{ hashFiles('**.nix', '**/flake.lock') }}
        path: |
          /nix/store
          /nix/var/nix/db/db.sqlite

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_DOCS }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_DOCS }}
        aws-region: us-east-1
        mask-aws-account-id: no

    - name: Deploy latest site
      if: github.ref == 'refs/heads/master'
      run: |
        nix develop -c make html
        nix develop -c aws s3 sync _build/html s3://docs.sysrev.com/latest
        nix develop -c aws cloudfront create-invalidation --distribution-id EA1FHUI2SBWO4 --paths "/latest/*"
      working-directory: docs
      env:
        CURRENT_VERSION: latest

    - name: Deploy version site
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        nix build --impure .#docs-html
        nix develop -c aws s3 sync result/html s3://docs.sysrev.com/$RG_VERSION
        nix develop -c aws cloudfront create-invalidation --distribution-id EA1FHUI2SBWO4 --paths "/$RG_VERSION/*"
      working-directory: docs
      env:
        CURRENT_VERSION: ${{ env.RG_VERSION }}
        STABLE_VERSION: ${{ env.RG_VERSION }}

    - name: Deploy stable site
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        nix develop -c aws s3 sync ../src/schema s3://docs.sysrev.com/schema
        nix build --impure .#docs-html
        nix develop -c aws s3 sync result/html s3://docs.sysrev.com/stable
        touch .redirect
        nix develop -c aws s3 cp .redirect s3://docs.sysrev.com/index.html --website-redirect /stable/
        nix develop -c aws cloudfront create-invalidation --distribution-id EA1FHUI2SBWO4 --paths "/stable/*"
      working-directory: docs
      env:
        CURRENT_VERSION: stable
        STABLE_VERSION: ${{ env.RG_VERSION }}
